css
/* Reset стили для обнуления всех стилей элементов */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
}
ol,ul {
    list-style: none;
}

/* Общие стили для страницы */
html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Стили для контента */
.content {
    padding: 20px;
    text-align: center;
}
.main-heading {
    font-size: 32px;
    color: #333;
}
.main-description {
    font-size: 18px;
    color: #666;
}
/* Стили для футера */
footer {
    background-color: #050505;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.footer-text {
    font-size: 14px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span {
    color: crimson;
}
/* Header Section*/
#header {
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgb(5 5 5 / 84%);
    transition: 0.3s ease background-color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}
#header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
}
#header .nav-list ul li {
    display: inline-block;
}
#header .nav-list ul li a {
    font-size: 1.8rem;
}
#header .nav-list ul a:after {
    display: none;
}
#services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
}
#header .nav-list ul.active {
    left: 0%;
}
#header .nav-list ul a {
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: crimson;
}

.search-bar {
    background: #fff;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
}

.search-bar>form {display: flex;width: 400px;flex-direction: row;justify-content: space-between;align-items: center;}

.search-bar>form>input {
    height: 38px;
    border: 0;
    outline: 0;
    width: 100%;
}

.search-bar>form>button {
    border-radius: 8px;
    padding: 10px;
    background-color: #5d5d5d;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.search-bar>form>button:hover {
    background-color: #648568;
}

.alert.alert-warning {
    font-size: 16px;
    color: #fff;
}